<div class="errWrapper">
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1 class="mainOops">Oops!</h1>
            </div>
            <h2>404 - Page not found</h2>
            <p>The page you are looking for might have been removed or is temporarily unavailable.</p>
            <% if(message!=''){ %>
                <p style="display: flex; justify-content: center; color: red; font-weight: 700;"><%= message %></p>
            <% } %>
            <a href="/">Go To Homepage</a>
        </div>
    </div>
</div>