    
    <div class="frontSection">
        <section class="section-hero">
            <div class="hero">
                <div class="hero-text-box">
                    <h1 class="heading-primary">
                        A healthy meal delivered to your door, every single day
                    </h1>
                    <p class="hero-description">
                        Say goodbye to boring, unappetizing boring food and hello to delicious meals with our smart food subscription.
                    </p>
                    <div class="heroButton">
                        <a href="/menu" type="button" class="startEatWell">Check our Menu</a>
                        <a href="#aboutUs" type="button" class="learnMore">Get to know Us</a>

                    </div>
                    

                    <div class="delivered-meals">
                        <div class="delivered-imgs">
                            <img src="/img/userPic/user-6437d4a7a8344f33f0bb0998-1681380535303.jpeg" alt="Customer photo">
                            <img src="/img/userPic/user-6437d43ca8344f33f0bb0987-1681380432751.jpeg" alt="Customer photo">
                            <img src="/img/userPic/user-6437d329a8344f33f0bb0968-1681380198794.jpeg" alt="Customer photo">
                            <img src="/img/userPic/user-6437d523a8344f33f0bb09ab-1681380667229.jpeg" alt="Customer photo">
                            <img src="/img/userPic/user-6437d21095ff5534ec874f07-1681380056635.jpeg" alt="Customer photo">
                            <img src="/img/userPic/user-6437d092792bb01e382bdc37-1681379708081.jpeg" alt="Customer photo">   
                        </div>
                        <p class="delivered-text"> <span><%= cnt %>+</span> &nbsp; satisfied customers </p>
                    </div>
                </div>
                <div class="hero-img-box">
                    <picture>
                        <img src="/img/hero-min1.webp" class="hero-img" alt="hero image">
                    </picture>
                </div>
            </div>
        </section>
        <section id="aboutUs" class="aboutUs">
            <p class="FrontHeading heading-primary"> About Us </p>
            <!-- Differnt types of food and brandings (promotional) -->
            <section class="companyDesription">
                <!-- Dynamically will be added by typewritter-effect JS -->
            </section>
    
            <!-- Some food galary may be fetched from DB -->
            <div class="menuPic">
                <figure><img class="menuPicImg" src="/img/foodPic/ChickenCurry.jpg" alt=""></figure>
                <figure><img class="menuPicImg" src="/img/foodPic/Paratha.jpg" alt=""></figure>
                <figure><img class="menuPicImg" src="/img/foodPic/Rice.jpg" alt=""></figure>
                <figure><img class="menuPicImg" src="/img/foodPic/ChilliPaneer.jpg" alt=""></figure>
                <figure><img class="menuPicImg" src="/img/foodPic/FishCurry.jpg" alt=""></figure>
                <figure><img class="menuPicImg" src="/img/foodPic/AlooMatar.jpg" alt=""></figure>
                <figure><img class="menuPicImg lastOne" src="/img/foodPic/MuttonBiryani.jpg" alt=""></figure>
                <figure><img class="menuPicImg lastOne" src="/img/foodPic/EggThali.jpg" alt=""></figure>
            </div>
            <div class="tagLines">
                <!-- Never cook again  -->
                <div class="brandTag neverCook">
                    <ion-icon class="feature-icon" name="infinite-outline"></ion-icon>
                    <div class="tagText">
                        <p class="tagHeading">Never cook again!</p>
                        <p class="tagSmTxt">Subscriptions cover 365 days per year, even including major holidays.</p>
                    </div>
                </div>
                <!-- Fresh and organic     -->
                <div class="brandTag organic">
                    <ion-icon class="feature-icon" name="nutrition-outline"></ion-icon>
                    <div class="tagText">
                        <p class="tagHeading">Fresh and organic</p>
                        <p class="tagSmTxt">Our cooks only use fresh, and organic products to prepare your meals..</p>
                    </div>
                </div>
                <!-- Homemade like food     -->
                <div class="brandTag homemade">
                    <ion-icon class="feature-icon" name="home-outline"></ion-icon>
                    <div class="tagText">
                        <p class="tagHeading">Homemade like food</p>
                        <p class="tagSmTxt">Meal is prepared and cooked in a manner similar to how it would be done at home</p>
                    </div>
                </div>
                <!-- Delicious and Tasty     -->
                <div class="brandTag tasty">
                    <ion-icon class="feature-icon" name="heart-outline"></ion-icon>
                    <div class="tagText">
                        <p class="tagHeading">Delicious and Tasty</p>
                        <p class="tagSmTxt">Our Meal is is flavorful, appetizing, and pleasing to the senses.</p>
                    </div>
                </div>
            </div>
            <div class="chkMenuDiv">
                <a class="menuBtn startEatWell" href="/menu" type="button">Check our menu</a>
            </div>

            <p class="heading-primary mapHeading"> Our Distribution Sources </p>
        </section>
        
        <section class="section-map">
            <!-- OUTLETS -->
            <div id="map" style="border-radius: 20px;">
                <!-- Map will be integrated here -->
            </div>
        </section>
        
    </div>