<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTANT FOR SEO -->
    <meta name="description"
    content="MealMate is a tiffin service platform that will make you eat healthy, 365 days per year, with a lot of options depending on your personal tastes and nutritional needs." />
    <meta name="google-site-verification" content="qlrfUZTIOzV_413lCUnYq4y_SNzBYBosLSC6MA0Hj7w" />
    <title>MealMate - Tiffin Service</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/Logo/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/Logo/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/Logo/favicon-32x32.png">
    <link rel="manifest" href="/img/Logo/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Pack -->
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Tailwind CSS -->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <!-- OWN CSS -->
    <link rel="stylesheet" href="/css/app.css">
    <link href="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css" rel="stylesheet">

    <!-- bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

    <!-- Maplibre JS -->
    <script src="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js"></script>
</head>
<body>
    <!-- Pre-loader -->
    <div id="preloader"></div>

    <!-- navbar -->
    <div class="nav" style="padding-bottom: 1rem;">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="/"> <img class="navLogo" src="/img/Logo/logoOrangeFull.png" alt=""></a>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse dropDownCentre" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item navSec">
                            <a href="/menu">Menu</a>
                        </li>
                        <% if(user){ %>
                            <li class="nav-item navSec">
                                <a style="display: flex; gap: 0.5rem;" href="/me" class="experience-nav navSec"><img style="width: 2rem; border-radius: 100%;" src="/img/userPic/<%= user.photo %>" alt="user" onerror="this.onerror=null;this.src='/img/userPic/default.jpeg';"> <p class="dropDownName"><%= user.username.split(' ')[0] %></p></a>
                            </li>
                            <li class="nav-item navSec">
                                <a class="skill-nav navSec logoutBtn" href="#">Logout</a>
                            </li>
                        <% } else { %>
                            <li class="nav-item navSec">
                                <a class="project-nav navSec" href="/register">Register</a>
                            </li>
                            <li class="nav-item navSec">
                                <a class="project-nav navSec" href="/login">Login</a>
                            </li>
                        <% } %>
                        <li class="nav-item">
                            <a href="/cart" class="inline-block px-4 py-2 rounded-full flex items-center cartLink">
                                <span id="cartCounter" class="text-white font-bold pr-2"><%= session.cart ? session.cart.totalQty : '' %></span>
                                <img src="/img/cart.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="actualBody">
        <%- body %>
    </div>

    <footer>
        <!-- 3 te grid col thakbe -->
        <!-- 1) company logo, tagLines, 2) Resources: Register, login, Menu. 3) Social media liks and contact us -->
        <div class="footercol1">
            <img class="logoImg" src="/img/Logo/logoOrangeHalf.png" alt="">
            <p>Start Eating Well</p>
            <p class="copy">&copy; MealMate, 2023. All right reserved</p>
        </div>
        <div class="footercol2">
            <p class="footerHeading">Resources</p>
            <ul>
                <li><a class="footerALink" href="/register"> Create Account </a></li>
                <li><a class="footerALink" href="/login"> Log in </a></li>
                <li><a class="footerALink" href="/menu"> Go to Menu </a></li>
            </ul>
        </div>
        <div class="footercol3">
            <div class="socialLink">
                <a href="/" target="_blank"><i class="lab la-facebook socialLogo"></i></a>
                <a href="/" target="_blank"><i class="lab la-instagram socialLogo"></i></a>
                <a href="/" target="_blank"><i class="lab la-twitter socialLogo"></i></a>
            </div>
            <div class="contactLink">
                <a href="mailto:roynilarghya@gmail.com?subject=MealMate%20||%20Query:%20" ><i class="las la-phone-alt updateIcon"></i>Contact Us</a>
            </div>
        </div>
    </footer>

    <!-- OWN JS -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/app.js"></script>


    <script>
        // When page loads, hide pre-loader
        const loader= document.querySelector('#preloader');
        loader.style.opacity= 1;
        function fade(){
            (loader.style.opacity-=.1)<0?loader.style.display="none":setTimeout(fade,40)
        }
        window.addEventListener('load', (evt) => {
            fade();
        });
    </script>

</body>
</html>