
<div class="paymentPageWrapper">
	<div class="card">
		<div class="title">Payment Failed!</div>
		
		<div class="cardContent">
			<p class="gratitude "> <%=title%></p>
			<div class="cardItems">
				<div class="eachItem">
					<p class="bold">Please try some other payment method or try again later. </p>
				</div>
			</div>
		</div>

		<a href="/" type="button" class="inline-block align-baseline font-bold text-sm btn-primary rounded-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline paymentBtn">Go Home</a>
	</div>
</div>